{% extends 'base.html' %}

{% load calendar_tags %}
{% load compressed %}

{% block title %}Dagatal | {{ block.super }}{% endblock %}

{% block css %}
{% compressed_css 'calendar' %}
{% endblock %}

{% block content %}
<h1>Dagatal</h1>
{% get_calendar current_day.year current_day.month %}
<h2>Atburðir dagsins {{ current_day|date:"d.m.Y" }}</h2>
<div id="day-events">
{% get_events_for_day current_day.year current_day.month current_day.day %}
</div>
{% endblock %}

{% block alt_content %}
<h1>Atburðir mánaðarins</h1>
{% get_events_for_month current_day.year current_day.month %}
{% endblock %}